header{
    display:  flex;
    justify-content: space-between;
    align-items:  center;
    max-width: 72vw;
    margin: 0 auto;
    padding-top: 2.44rem;
}

h2{
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.02775rem;
}
.icons{
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 12;
} 